.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    background: #edf4ff;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    font-size: 20px;
    top: 758px;
}

.game {
    display: flex;
    align-items: center;
    padding: 20px;

}

.container {
    width: 600px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.game-buttons, .color-buttons {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 50px;
}

button {
    align-items: center;
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 20px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
}

button:hover,
button:active {
    outline: 0;
}

button span {
    background-color: rgb(5, 6, 45);
    padding: 16px 24px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
}

button:hover span {
    background: none;
  }
  
  @media (min-width: 768px) {
    button {
      font-size: 24px;
      min-width: 196px;
    }
  }

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.square {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    flex: 1 0 auto;
    margin: 1px;
    border-radius: 6px;
    background: white;
}

.square:after{
    content: '';
    display: block;
    padding-bottom: 100%;
}

.square:hover {
    background-color: yellow;
}  

.hover {
    background-color: black;
}

.hover-over {
    background-color: white;
}